<p>
  <%= link_to "Acessar com #{OmniAuth::Utils.camelize(:instagram)}", user_instagram_omniauth_authorize_path, class:"btn btn-success" %>
</p>
<p class='privacy-link'>
  <%= link_to 'Política de Privacidade', privacypolicy_path, id: 'privacy-btn'%>
</p>


