.float-page{
  /* position:absolute; */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-box{
  background-color: #ffffff91;
  border-radius: 49% 93% 95% 81% / 48% 48% 66% 15%;
  box-shadow: 0 4px 8px #b6b6b608, 0 6px 20px #b6b6b6;
  background-image: linear-gradient( 135deg, #f6d242d6 20%, #ff52e5c7 90%);
  text-align: center;
  // width: 450px;
  // height: 500px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-title {
  font-family: 'Pacifico' !important;
  color: white;
  margin-bottom: 25px;
  // text-shadow: -15px 5px 20px #ced0d3;
  // letter-spacing: 0.3em;
  // transition: all 0.25s ease-out;
  // text-transform: uppercase;
  user-select: none;
  font-size: 60px;
}

.page-title:hover {
  // text-shadow: -16px 6px 15px #ced0d3;
}

.login-links {
  font-size: 30px;
}

.privacy-link {
  color: white;
  opacity: 0.5;
  font-size: 20px;
}

.navbar-wagon {
  background-color: #fcbdbd9c;
  //background-color: #f5be6cb5;
  //background-color: #ff99009e;
  //background-color: #0000003b;
  padding-right: 0px;
  padding-left:  0px;

}

@media (max-width: 320px) {
  width: 350px;
}

#title-login {
// fazer a mesma coisa com a media query, mas aumentar o tamanho do logo qnd as telas forem maiores
}
