<div class="page">
  <!-- TO DO: tirar a navbar da home. Te que ficar no _navbar.html.erb. Artur que disse -->
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="row">
      <% if user_signed_in? %>
        <div
          id="map"
          style="width: 100%;
          height: 600px;">
        </div>
      <% else  %>
        <div class="col-xs-6 col-xs-offset-3">
          <div class="login-box">
            <h1>Mapa Paladar</h1>
            <p><%= render 'components/login' %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


