.share-content {
  color: white;
  border: none;
  background-color: #fcbdbd00;
  font-size: small;
  font-weight: bold;
  // text-decoration: underline;
}

.share-class {
  position: absolute;
  z-index: 1003;
  width: 50vw;
  left: 25vw;
  top:75vh;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);
}